@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Fira+Sans+Condensed&display=swap');
html{
    font-family: 'Fira Code', monospace;
}
body{
    height: 100vh;
    width: 100%;
    background-color:rgb(17, 4, 38);
    display:flex;
    justify-content: center;
    align-items: center;
}

#container{
    box-shadow: 5px 5px 5px 2px rgb(0, 0, 0);
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    background-color: bisque;
    height: clamp(200px,50vw,1000px);
    width: clamp(200px,50vw,1000px);
}

#frame, #Pframe{
    display: flex;
    justify-content: flex-end;
    grid-area: 1/1;
    background-color: #02030800;
    color: rgb(255, 255, 255);
}
#frame{
    align-items: flex-end;
    font-size: 4vw;

}

#Pframe{
    align-items: flex-start;
    font-size: 2vw;

}

#keys{

    margin: 3% 3% 3% 3%;
    padding: 3% 3% 3% 3%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(4,22.8%);
    grid-template-rows: repeat(5,17.5%);
    grid-area: 2/1;
    background-color: rgb(22, 74, 54);
    font-size: 3vw;
}

#keys div:nth-child(8){
    grid-area: 2/4/3/4;
}
#keys  div:nth-child(17){
    grid-area: 5/1/5/3;
}

#keys *{
    background-color: aliceblue;
    box-shadow: 5px 5px 1px 2px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#resContainer{
    width:inherit;
    overflow:scroll;
}